@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin hw() {
    height: 100%;
    width: 100%;
}

* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    @include hw();
    box-sizing: border-box;
}

section::-webkit-scrollbar {
    display: none;
}
main {
    background-color: black;
    @include hw();
    @include flex();

    section {
        height: 98%;
        width: 30%;
        overflow-y: auto;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;

        .reals {
            @include hw();

            border-radius: 10px;
            position: relative;
            scroll-snap-align: start;
            scroll-snap-stop: always;

            
video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .bottom {
                position: absolute;
                bottom: 0%;
                width: 100%;
                color: white;
                padding: 1rem;
                background: linear-gradient(rgba(255, 255, 255, 0.087),
                        rgba(0, 0, 0, 0.525));

                .info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .logo {
                        height: 5vh;
                        width: 5vh;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    button {
                        background-color: transparent;
                        border: none;
                        color: white;
                    }
                }

                .description {
                    margin-top: 0.5rem;
                    font-size: 1rem;
                }
            }

            .right {
                position: absolute;
                right: 0%;
                bottom: 0%;
                color: white;
                padding: 5%;
                font-size: 1.2rem;
                height: 100%;
                display: flex;
                justify-content: end;
                flex-direction: column;
                gap: 10px;
            
                #love{
                    pointer-events: none;
                }
             }
        }
    }
}
#full{
    color:red;
}